<div style="text-align:center">
  <br><h1> SIGN UP! </h1><br>

<<<<<<< HEAD
<%= form_for(@family, url: signup_path) do |f| %>
  Username: <%= f.text_field(:username) %><br>
  Password: <%= f.password_field(:password) %><br>
  Password Confirmation: <%= f.password_field(:password_confirmation) %><br>

  <%= f.submit('Sign up!') %>
=======
  <%= form_for(@family, url: signup_path, method: :post) do |f| %>
  <br>
  Username: <%= f.text_field(:username) %><br><br>
  Password: <%= f.password_field(:password) %><br><br>
  Password Confirmation: <%= f.password_field(:password_confirmation) %><br><br><br>
>>>>>>> master

    <%= f.submit('Sign up!') %>
<br><br><br>
  <% end %>
</div>
