<div class="container text-center">
  <h1 class="header">Add New Receipt</h1>

  <%= form_for(@receipt, url: receipts_path, style:"text-block=center") do |f| %>

    <%= f.text_field :name, class: "form-control", :placeholder => "Enter Store Name: ", :style => "width:50%;" %>
    <br>
   <%= f.datetime_select :date, class: "form-control", :placeholder => "Date on Receipt: ",:style => "width:50%;" %>
    <br><br>
    <%= f.text_field :amount, class: "form-control", :placeholder => "Enter Receipt Amount: $",:style => "width:50%;" %>
    <br><br>
    <%= f.text_area :description, class: "form-control", :placeholder => "Enter Purchase Description: ",:style => "width:50%;" %>
    <br><br>
    <%= f.hidden_field :member_id, value: @member.id %>
    <%= f.submit("Save New Receipt") %>
    <br><br>

  <% end %>
</div>
