
<div class="container"><br>
  <h2 class="text-center f-weight"><%= @family.username %></h2><br>
  <div class="pull-right">
    <a href="<%= new_member_path %>" class="btn btn-lg btn-success">
      <span class="glyphicon glyphicon-plus"></span>
    </a>
  </div>
    
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
       <% @family.members.each do |f| %>
        <tr>
          <td><%= link_to(f.name, member_path(f)) %></td>
      
          <td><a href="<%= edit_member_path(f) %>" class="btn btn-info"><span class = "glyphicon glyphicon-pencil"></span></a>
           <a href="<%= member_path(f) %>" class="btn btn-danger" data-method="delete"><span class="glyphicon glyphicon-trash"></span></a>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
