<h1> Name: <%= @member.name %> </h1>
<!-- Loop through all receipts -->
<table>
<thead>
  <tr>
    <th>Store:</th>
    <th>Date</th>
    <th>Amount</th>
    <th>Description</th>
  </tr>
</thead>
<tbody>
  <% @member.receipts.each do |receipt| %>
  <tr>
    <td><%= receipt.name %></td> 
    <td><%= receipt.date %></td>
    <td><%= receipt.amount %></td>
    <td><%= @receipt.description %></td>
    <% end %>
  </tr>
</tbody>
</table>
<%= link_to 'Edit Member', edit_member_path(@member) %>
<%= link_to 'Delete Member', member_path(@member), method: :delete %>

